html,
body {
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
     }
}

header {
    display: grid;
    justify-content: end;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px #0000;
}

ul,
a {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    margin-right: 50px;
}

li {
    padding: 10px;
}

.inicio,
.inicio2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.inicio2 {
    padding: 0px 30px;
    justify-content: flex-start;
}

section {
    display: flex;
    background-color: #F5F5F5;
}


.info>h1 {
    font-size: 55px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
}

.info>h3 {
    font-size: 18px;
    color: black;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 50px;
}

.button {
    width: 170px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: black;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.button1 {
    width: 170px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: black;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-left: 70px;
}

button:hover{
    background-color: rgba(105, 105, 105, 0.473);
    transition: 1.5s;
    cursor: pointer;

}

.btt{
    display: flex;
}

button>i {
    padding-right: 15px;
}

.imagem>img {
    width: 400px;

}

.info1>p{
    width: 700px;
    font-size: 15px;

}

.info1>h3{
    margin-bottom: 30px;
    font-size: 30px;
}

.sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px
}

.container *{
    font-family: “Poppins”,sans-serif;
    color: black;
    font-weight: 500;
    width: 200px;
}

h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 11px;
}
.bar{
    position: relative;
 
    border: 2px solid #000000;
 
    border-radius: 20px;
  
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #000000;
   
 
}

.skills:not(:last-child){
    margin-bottom: 10px;
}

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 50%;
    }
}

#vue-bar{
    animation: vue-fill 2s forwards;
}
@keyframes vue-fill{
    100%{
        width: 30%;
    }
} 

#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 40%;
    }
} 

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    border:rgb(0, 0, 0) solid 1px;
    margin: 20px 0px;
}

.boxs{
    display: flex;
}

.box>img{
    padding: 20px;
    width: 250px;
    height: 100px;
}

.projetos{
    padding: 120px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box{
    background-color: rgba(105, 105, 105, 0.473);
    border-radius: 30px;
    color: #ffffff;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.box>p{
    margin: 0px;
    padding: 10px;
}

iframe{
    padding: 10px;
}

.formulario{
    display: flex;
    justify-content: space-around;
    align-items: self-end;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
    margin-top: 10px;
}

.form>h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.form>p{
    font-size: 15px;
}

.form { 
    display: grid;
    padding: 10px;
    width: 500px;
    justify-content: flex-start;
  }
  
  .form label{
    padding: 5px 0px;
  }
  
  .form label,
  .form input,
  .form textarea,
  .form button {
    display: block;
    width: 100%;
  }
  
  .form input,
  .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
    background-color: #F5F5F5;
    width: 400px;
  }
  
  .form textarea {
    min-height: 160;
    resize: vertical;
    background-color: #F5F5F5;
  }
  
  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
    outline: 0;
  }
  
  .form button {
    display: block;
    padding: 1rem;
    background: #000000;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }

  .success,
.error {
  text-align: center;
  font-size: 12px;
}

.success {
  color: rgb(0, 0, 0);
}

.error {
  color: rgb(255, 38, 0);
}

  .imagem2>img{
    width: 200px;
  }
